#flask db init
#flask db migrate -m "create user model"
#flask db upgrade

APScheduler
Flask
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-APScheduler
Werkzeug
SQLAlchemy
pandas
python-dotenv
pytz
PyMySQL